
body {
    background-color: #d3e6a4;
    margin: 0;
}

header {
    width: auto;
    height: 50px;
    background-color: darkgray;
}

footer {
    width: auto;
    height: 200px;
    background-color: darkgray;   
}

/* table {
    background-color: darkgray;
    border-radius: 10px;
    border: solid 1px black
}

td, th {
    background-color: white;
    border-radius: 5px;
    text-align: center;
} */

/* #activity-group { 
    background-color: #f1f1f1;
    height: 300px;
    width: 500px;
    border-radius: 40px;
    box-shadow: 0 0 10px 10px #f1f1f1;
    position: relative;
}

#activity-type {
    background-color: white;
    border: solid 1px black;
    border-radius: 8px;
    width: 400px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    position: relative;
    text-align: center;
    margin-left: 49px;
    display: table;
    vertical-align: middle;
}

p{
    vertical-align: middle;
    display: table-cell;
}

#counter {
    text-align: center;
    display: absolute;
    align-items: center;
    padding-left: 180px;
    padding-top: 10px;
}

#button-remove {
    width: 20px;
    height: 20px;
}

#quantity {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid 1px black;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

#button-add {
    width: 20px;
    height: 20px;
} */

#activity-group { 
    background-color: #9ec539;
    height: 150px;
    width: 500px;
    border: solid 3px #3e520e; 
    border-radius: 40px;
    position: relative;
}

#activity-name{
    position: absolute;
    padding-top: 10px;
    padding-left: 40px;
    z-index: 1;
}

#counter{
    align-items: center;
    display: table;
    position: absolute;
    padding-top: 40px;
    padding-left: 180px;
    z-index: 1;
}

#button-remove {
    display: table-cell;
    vertical-align: middle;
}

#quantity {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid 1px black;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    display: table-cell;
}

#button-add {
    display: table-cell;
}

#repeats-number {
    position: absolute;
    padding-top: 40px;
    padding-left: 10px;
    text-align: center;
    z-index: 1;
}

#points-number {
    position: absolute;
    padding-top: 40px;
    padding-left: 370px;
    text-align: center;
}

#buttons{
    display: table;
    padding-top: 110px;
    text-align: center;
}

#edit-button-cell,#delete-button-cell{
    display: table-cell;
}

#edit-button-cell{
    padding-left: 130px;
}

#delete-button-cell{
    padding-left: 140px;
    position: absolute;
}


input{
    text-align: center;
}